All your diary entries!
<% @diary_entries.each do |diary_entry| %>
  <h4><a href="/diary_entries/<%= diary_entry.id %>"><%= diary_entry.created_at %></a></h4>
  <strong><%= diary_entry.title %></strong>
  <p><%= diary_entry.content %></p>
  <p>By <%= diary_entry.user.name %></p>
  <br><br>
<% end %>